@model IEnumerable<ProductsCRUDUsingDapper.Models.ProductsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Product List</h1>

<p>
    @Html.ActionLink("Create New", "AddOrEdit")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qauntity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qauntity)
            </td>
            <td>
                @Html.ActionLink("Edit", "AddOrEdit", new {  id=item.ProductID }) |
                    @*   @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
            </td>
        </tr>
}
    </tbody>
</table>
